/* //@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Spline+Sans+Mono&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Spline+Sans+Mono&display=swap'); */

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: hsl(30, 38%, 92%);
}
p{
    font-family: 'Spline Sans Mono', monospace;
    color: hsl(0, 0%, 65%);
    font-size: 14px;
    
}
.imageDiv{
    width: 50%;
    height: 100%;

}
.imageDiv img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
#heading{
    letter-spacing: 10px;
}
.CartDiv{
    background-color: white;
    width: 50%;
    height: 100%;
    line-height: 45px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding:7% 7% 0 7%;
}
.mainDiv{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 80vh;
    margin:10vh auto;
    border-radius:15px ;
    /* border: 1px solid red; */

}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    
}
#btn{
    margin-top: 3vw;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

@media  screen and (max-width:735px){
    .mainDiv{
        width: 80%;
        height: 80%;
        
        flex-direction: column;
    }
    .imageDiv{
        width: 100%;
        height: 100%;
    }
    .imageDiv img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
        /* border-top-left-radius: 15px; */
    }
    .CartDiv{
        width: 100%;
        height: 100%;
        padding:7% 7% 0 7%;
        border-bottom-right-radius: 15px;
    border-top-right-radius:0;
    border-bottom-left-radius: 15px;
    /* border-top-right-radius: 15px; */
    }
    .price{
        flex-direction: column;
        justify-content: center;
    }
    h1{
        font-size: 20px;
    }
    #btn{
        font-size: 15px;
        padding: 5px 10px;
    }
}
    
